{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des personnes inscrites</h1>
 <center>
    <table border='2'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td><a href="{{ path('personne_show', { 'id': personne.id }) }}">{{ personne.id }}</a></td>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                <td>{{ personne.email }}</td>
                <td>{{ personne.telephone }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personne_show', { 'id': personne.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('personne_edit', { 'id': personne.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</center>
    <ul>
        <li>
            <a href="{{ path('personne_new') }}">Create a new personne</a>
        </li>
    </ul>
{% endblock %}
